.timeForm {
  background-color: #f5f8fa;
  border-color: #e6eaee;
  height: 422px;
  padding: 16px;
  width: 100%;
}

.labels {
  color: #68768c;
  font-family: proximanova;
  font-size: 12px;
  padding: 16px;
}

.inputs {
  background-image: linear-gradient(to top, #f2f4f7, #ffffff);
  border-radius: 4px;
  border: solid 1px #ced0da;
  font-family: proximanova;
  height: 36px;
  width: 100%;
}
