.toggle {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    fill: #ffffff;
    outline: none;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 8px;
}

@media (min-width: 901px) {
    .toggle {
        display: none;
    }
}

.icon {
    color: #ffffff;
}

.hideIcon {
    display: none;
}
