.TimeEntry {
    align-content: center;
    border-left-color: #4f88ef;
    border-left-width: 4px;
    border-radius: 4px;
    border: solid 1px #e6eaee;
    display:flex;
    justify-content: space-between;
    width: 100%;
    font-family: proximanova;
}

.Task {
    padding: 32px 16px;
    font-family: proximanova;
    font-size: 16px;
    color: #354052;
}

.TimeStamp {
    padding: 32px 16px;
    font-family: proximanova;
    font-size: 16px;
    color: #354052;

}