.timeEntry {
  align-content: center;
  align-items: center;
  border: solid 1px #e6eaee;
  border-left:  4px solid #4f88ef;
  border-radius: 4px;
  display:flex;
  font-family: proximanova;
  justify-content: space-between;
}

.client {
  color: #354052;
  font-family: proximanova;
  font-size: 16px;
  padding: 32px 16px;
}

.timeStamp {
  color: #354052;
  font-family: proximanova;
  font-size: 16px;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.duration {
  text-align: right;
  color:#7f8fa4;
}
