.TimeEntries {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 67px;
}

@media (min-width: 901px){ 
.TimeEntries {
    max-width: 1170px;
}
}