.timeEntriesContainer {
  width: 100%;
}

@media (min-width: 901px) {
  .timeEntriesContainer {
    align-items: center;
    max-width: 1170px;
    width: 100%;
  }
}

.NewTimeEntryButton {
  background-color: #35ac45;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: proximanova;
  font-size: 14px;
  height: 36px;
  justify-content: center;
  margin-top: 70px;
  width: 100%;
}

@media (min-width: 901px) {
  .NewTimeEntryButton {
    display: none;
  }
}

.NewTimeEntryButtonGrey {
  background-color: #acacac;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: proximanova;
  font-size: 14px;
  height: 36px;
  justify-content: center;
  margin-top: 70px;
  width: 100%;
}

.NewTimeEntryButtonGrey:disabled {
  cursor: auto;
}

@media (min-width: 901px) {
  .NewTimeEntryButtonGrey {
    display: none;
  }
}
