.logo {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 12px, 0px, 11px, 0px;
    margin-top: 12px;
    display:flex;
    align-items: center;
}

@media (min-width: 901px){ 
  .logo {
    display: none;
  }
}