.NewTimeEntry {
  background-color: #35ac45;
  border-radius: 4px;
  color: #ffffff;
  display: flex;
  font-size: 14px;
  font-family: proximanova;
  height: 36px;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
}

@media (min-width: 901px) {
  .NewTimeEntry {
    display: none;
  }
}
