.navigation {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    font-family: proximanova;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.navigationVisible {
    opacity: 1;
    visibility: visible;
}

.item {
    color: #ffffff;
    text-align: start;
    font-size: 14px;
    font-family: proximanova;
    text-decoration: none;
    margin-top: 24px;
    margin-left: 12px;
    padding: 4px 8px;
}

.itemActive {
    background-color: #1166a5;
    border-radius: 4px;
}

@media (min-width: 901px) {
    .navigation {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        padding: 0;
        opacity: 1;
        visibility: visible;
    }
    .item {
        margin-top: 0px;
    }
    .item:first-child {
        margin-left: 0;
    }
}
