.inputField {
  background-image: linear-gradient(to top, #f2f4f7, #ffffff);
  border-radius: 4px;
  border: solid 1px #ced0da;
  box-sizing: border-box;
  color: #354052;
  display: block;
  font-family: proximanova;
  font-size: 14px;
  font-weight: bold;
  height: 36px;
  margin-top: 7px;
  padding-left: 10px;
}

.inputFieldInvalid {
  border: solid 1px #fb6375;
} 
