.header {
  align-items: center;
  background-color: #4f88ef;
  display: flex;
  flex-direction: column;
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: .3s ease-in-out;
  z-index: 1000;
}

.headerMenuVisible {
  height: 100vh;
}

@media screen and (min-width: 901px) {
  .header {
    flex-direction: row;
    padding: 0 10px;
    justify-content: space-between;
  }
  .headerMenuVisible {
    height: 50px;
  }
}
