.header {
  align-items: center;
  background-color: #4f88ef;
  display: flex;
  flex-direction: column;
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: .3s;
}

.headerMenuVisible {
  height: 100vh;
}
